<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="draughts-board-demonstration">
	<div id="game-player">
		<div id="draughts-board">
		</div>
		<div id="game-controller">
			<button id="prev-step" class="ctrl-btn"> < </button>	<button id="next-step" class="ctrl-btn"> > </button>
		</div>
	</div>
	<div id="game-plies">
	</div>
</div>

<script id="plyTemplate" type="text/template">
	<%= commentBefore %> <strong><%= indexString %></strong> <%= commentAfter %>
</script>

<script type="text/javascript" src="js/libs/underscore.js"></script>
<script type="text/javascript" src="js/libs/jquery.js"></script>
<script type="text/javascript" src="js/libs/backbone.js"></script>

<script type="text/javascript" src="js/ply/plyModels.js"></script>
<script type="text/javascript" src="js/position/positionModels.js"></script>
<script type="text/javascript" src="js/game/gameModels.js"></script>
<script type="text/javascript" src="js/ply/plyViews.js"></script>
<script type="text/javascript" src="js/position/positionViews.js"></script>
<script type="text/javascript" src="js/game/gameViews.js"></script>

</body>
</html>